@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #12053c;
  color: #343434;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: wrap;
  height: 100svh;
  width: 100svw;
}
h1 {
  color: #ffffff89;
  animation: 1.5s shaking-color ease infinite;

}
.board-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.square {
  background: inherit;
  color: #ffffffc4;
  border: 3px solid #5edab1c2;
  float: left;
  font-size: 64px;
  font-weight: bold;
  width: 90px;
  height: 90px;
  transition: all .7s ease;
}
.square:hover {
  background: rgba(245, 245, 245, 0.344); 
  transition: all .4s ease;
}
.square-first .square:nth-child(1) {
  border-top: none;
  border-left: none;
}
.square-first .square:nth-child(2) {
  border-top: none;
}
.square-first .square:nth-child(3) {
  border-top: none;
  border-right: none;
}

.square-second .square:nth-child(1) {
  border-left: none;
}

.square-second .square:nth-child(3) {
  border-right: none;
}

.square-third .square:nth-child(1) {
  border-left: none;
  border-bottom: none;
}
.square-third .square:nth-child(2) {
  border-bottom: none;
}
.square-third .square:nth-child(3) {
  border-right: none;
  border-bottom: none;
}

.board {
  width: 275px;
  height: 275px;
 }
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.status {
  margin-top: 30px;
  color: whitesmoke;
  text-shadow: 1px 1px 4px #343434;
  font-size: 30px;
  font-weight: bold;
}
.jump-to {
  margin-top: 5px;
  text-align: center;
}

.jump-to > a {
  background: transparent; 
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all .7s ease;

}
.jump-to > a:hover {
  color: blue;
  border-bottom: 1px solid blue;
  transition: all .7s ease;
  font-size: 17px;
}
.reset-button {
  margin-top: 20px;
  background: transparent; 
  cursor: pointer;
  height: 30px;
  width: 100%;
  border-radius: 4px;
  border: 3px solid #5edab1c2;
  color: #45a283;
  font-weight: bold;
  transition: all .7s ease;
  font-size: 18px;
}
.reset-button:hover {
  background: rgba(245, 245, 245, 0.344); 
  transition: all .4s ease;
  font-size: 16px;
}
.game {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}
.game-info {
  max-width: 250px;
  height: auto;
  margin-left: 50px;
  background-color: rgba(245, 245, 245, 0.642);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.game-info div {
  text-align: center;
  width: 250px;
}
.game-info p {
  height: 20px;
}
footer {
  width: 100svw;
  height: auto;
  text-align: left;
  font-family: 'Borel', cursive;
  font-size: 13x;
  margin-top: 30px;
}
footer p {
  position: relative;
  animation: 8s anim-color ease infinite;
}

@keyframes anim-color {
  0%   {color: rgb(230, 101, 101);}
  25%  {color: rgb(213, 213, 104);}
  50%  {color: rgb(85, 85, 208);}
  100% {color: rgb(87, 192, 87);}
}

@keyframes shaking-color {
  0% { transform: rotate(0deg); scale: 1; }
  25% { transform: rotate(2deg); scale: 1; }
  20% { transform: rotate(0eg); scale: 1.1; }
  75% { transform: rotate(-2deg); scale: 1; }
  100% { transform: rotate(0deg); scale: 1; }
}